In [10]:
%load_ext autoreload
%autoreload 2
import sys
import os
sys.path.append('../')
from preprocessing.data_proc import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [11]:
dp=data_proc()

In [13]:
df1=dp.create_model_data(depvar='AD',icd10s=['G30'],infile='ukb_df_processed.parquet',\
nonull_var='date_of_all_cause_dementia_report_f42018_0_0')

In [14]:
df1

,eid,year_of_birth_f34_0_0,hand_grip_strength_left_f46_0_0,hand_grip_strength_right_f47_0_0,waist_circumference_f48_0_0,hip_circumference_f49_0_0,standing_height_f50_0_0,seated_height_f51_0_0,month_of_birth_f52_0_0,date_of_attending_assessment_centre_f53_0_0,...,sedentary_time,grips_frail,exhaust_frail,walk_frail,ipaq_frail,frailty_score,frailty_index,hypertension,alcohol,AD
0,1000014,1948,30.0,32.0,82.0,100.0,156.0,132.0,January,2007-07-24,...,2.000000,0,0,0,0,0,0,0.0,0,0
1,1000023,1966,29.0,32.0,80.0,97.0,172.0,142.0,March,2007-08-24,...,1.333333,0,0,0,0,0,0,0.0,0,0
2,1000030,1945,16.0,20.0,76.0,96.0,156.0,122.0,July,2009-07-06,...,1.500000,0,0,0,0,0,0,0.0,0,0
3,1000041,1943,15.0,12.0,93.0,110.0,166.0,130.0,September,2009-01-26,...,2.000000,1,0,0,0,1,1,0.0,0,0
4,1000059,1957,23.0,24.0,72.0,97.0,176.0,139.0,February,2009-11-03,...,2.000000,0,0,0,0,0,0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502406,6025203,1944,20.0,16.0,75.0,93.0,157.0,127.0,March,2009-10-20,...,1.000000,0,0,0,0,0,0,0.0,1,0
502407,6025211,1939,27.0,28.0,86.0,100.0,170.0,136.0,December,2008-07-14,...,1.333333,1,0,0,0,1,1,0.0,0,0
502408,6025228,1946,28.0,31.0,74.0,100.0,158.0,132.0,July,2007-11-01,...,2.000000,0,0,0,0,0,0,0.0,0,0
502409,6025235,1967,32.0,34.0,85.0,99.0,178.5,142.5,June,2010-04-27,...,3.000000,0,0,0,0,0,0,0.0,1,0
502410,6025244,1966,44.0,50.0,93.0,103.0,167.0,139.0,September,2007-12-22,...,2.000000,0,0,0,0,0,0,0.0,1,0

In [8]:
os.listdir('../preprocessing/')

['.DS_Store', 'idears_backend.py', 'data_proc.py', 'data_proc']